@import '../../../variables';

.#{$prefix}-ui-textbutton {
  @extend %ui-button;

  font-size: .8em;
  font-weight: 500;

  .#{$prefix}-label {
    display: inline-block;
    text-decoration: underline;
  }
}
