@import 'variables';
@import 'mixins';
@import 'components/buttons/subtitletogglebutton';
@import 'components/component';
@import 'components/container';
@import 'components/uicontainer';
@import 'components/controlbar';
@import 'components/buttons/button';
@import 'components/buttons/playbacktogglebutton';
@import 'components/buttons/quickseekbutton';
@import 'components/buttons/fullscreentogglebutton';
@import 'components/buttons/vrtogglebutton';
@import 'components/buttons/volumetogglebutton';
@import 'components/buttons/ecomodetogglebutton';
@import 'components/seekbar/seekbar';
@import 'components/watermark';
@import 'components/buttons/hugeplaybacktogglebutton';
@import 'components/labels/label';
@import 'components/settings/settingspanel';
@import 'components/settings/settingspanelpage';
@import 'components/settings/settingspanelitem';
@import 'components/settings/settingspanelpageopenbutton';
@import 'components/settings/settingspanelpagebackbutton';
@import 'components/settings/settingstogglebutton';
@import 'components/settings/selectbox';
@import 'components/lists/listbox';
@import 'components/labels/seekbarlabel';
@import 'components/seekbar/volumeslider';
@import 'components/overlays/subtitleoverlay';
@import 'components/overlays/subtitleoverlay-cea608';
@import 'components/buttons/volumecontrolbutton';
@import 'components/buttons/casttogglebutton';
@import 'components/overlays/caststatusoverlay';
@import 'components/overlays/errormessageoverlay';
@import 'components/titlebar';
@import 'components/overlays/recommendationoverlay';
@import 'components/overlays/clickoverlay';
@import 'components/buttons/hugereplaybutton';
@import 'components/buttons/replaybutton';
@import 'components/labels/playbacktimelabel';
@import 'components/overlays/bufferingoverlay';
@import 'components/overlays/playbacktoggleoverlay';
@import 'components/buttons/closebutton';
@import 'components/buttons/airplaytogglebutton';
@import 'components/buttons/pictureinpicturetogglebutton';
@import 'components/spacer';
@import 'components/settings/subtitlesettings/subtitlesettings';
@import 'components/buttons/subtitlesettingspaneltogglebutton';
@import 'components/overlays/touchcontroloverlay';
@import 'components/buttons/smallcenteredplaybacktogglebutton';
@import 'ads';
@import 'cast-receiver';
@import 'smallscreen';
@import 'tv';

// sass-lint:disable nesting-depth
.#{$prefix}-ui-uicontainer {
  color: $color-primary;
  font-family: $font-family;
  font-size: $font-size;
  text-align: left;
  user-select: none;

  &.#{$prefix}-player-state-idle {
    .#{$prefix}-ui-controlbar,
    .#{$prefix}-ui-titlebar,
    .#{$prefix}-ui-hugeplaybacktogglebutton {
      display: none;
    }
  }

  &.#{$prefix}-player-state-finished {
    .#{$prefix}-ui-controlbar,
    .#{$prefix}-ui-hugeplaybacktogglebutton {
      display: none;
    }
  }

  .#{$prefix}-text-right {
    text-align: right;
  }

  // sass-lint:disable force-element-nesting
  &.#{$prefix}-layout-max-width-400 {
    // Hide the description in ultra tiny players to not clog the UI too much
    .#{$prefix}-ui-titlebar .#{$prefix}-label-metadata-description {
      display: none;
    }
  }

  &.#{$prefix}-layout-max-width-400,
  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-hugeplaybacktogglebutton {
      font-size: .7em;
    }

    .#{$prefix}-ui-watermark {
      font-size: .7em;
    }
  }
}
