body {
  margin: 0;
  padding: 0;
}

// Full width only on small screens (mobile)
@media (max-width: 600px) {
  .container {
    max-width: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .player-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

// sass-lint:disable no-ids
#player {
  position: relative;
  width: 100%;
}

.player-wrapper {
  &.portrait {
    // sass-lint:disable no-misspelled-properties
    aspect-ratio: 9 / 16;
    margin: auto;
    width: 300px;
  }
}
